<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: metaTags"></div>

    <div th:replace="base :: BootStrapAndMainCSSLinks"></div>
    <title>Add Task</title>
</head>
<body>

<div th:replace="base :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Departments: </p>
        </div>
        <div class="col">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/department/add}">
                <button class="btn btn-primary">Add new Department!</button>
            </a>
        </div>
        <div class="col ">
            <p class="numberOfDepartment"> ([[${numberOfDepartment}]] department)</p>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"># Of Employee</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="department : ${departments}">
                    <td>[[${department.name}]]</td>
                    <td>[[${department.employees.size()}]]</td>

                    <td>
<!--                        <a th:href="@{'/details?id=' + ${room.id}}">View</a>-->
                        <a th:href="@{/department/details/{id} (id=${department.id})}">
                            <button type="button" class="btn btn-info">View</button>
                        </a>
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/department/update/{id} (id=${department.id})}">
                            <button type="button" class="btn btn-warning">Update</button>
                        </a>

                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>



<div th:replace="base :: BootStrapScripts"></div>
</body>
</html>