<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: metaTags"></div>

    <div th:replace="base :: BootStrapAndMainCSSLinks"></div>
    <title>All Employee</title>
</head>
<body>

<div th:replace="base :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>All Employee under their department:</h2>

            <ul th:each="department : ${departments}" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center active">
                    <a th:href="@{/department/details/{id} (id=${department.id})}"
                       class="list-group-item list-group-item-action active">
                        <Strong>[[${department.name}]]</Strong>
                    </a>
                    <span class="badge badge-primary badge-pill"> [[${department.employees.size()}]]</span>
                </li>
                <li class="list-group-item" th:each="employee : ${department.employees}">
                    <div class="row">
                        <div class="col align-self-center">
                            <span> [[${employee.fullName}]] | [[${employee.jobTitle}]] </span>
                        </div>

                        <div class="col float-right list-group list-group-horizontal list-group-flush">

                            <a sec:authorize="isAuthenticated()" th:href="@{'/employee/details?id=' + ${employee.id}}"
                                class="list-group-item list-group-item-action flex-fill vud-link">
                                <button type="button" class="btn btn-info vud-btn">View</button>
                            </a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                               th:href="@{/employee/update/{id} (id=${employee.id})}"
                               class="list-group-item list-group-item-action flex-fill vud-link">
                                <button type="button" class="btn btn-warning vud-btn">Update</button>
                            </a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:if="${!employee.enabled}"
                               th:href="@{/employee/deactivate/{id}?details=false (id=${employee.id})}"
                               class="list-group-item list-group-item-action flex-fill vud-link">
                                <button type="button" class="btn btn-success vud-btn">Activate</button>
                            </a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:if="${employee.enabled}"
                               th:href="@{/employee/deactivate/{id}?details=false (id=${employee.id})}"
                               class="list-group-item list-group-item-action flex-fill vud-link">
                                <button type="button" class="btn btn-danger vud-btn">Deactivate</button>
                            </a>
                        </div>
                    </div>

                </li>

            </ul>
            <br>


        </div>
    </div>
</div>


<div th:replace="base :: BootStrapScripts"></div>
</body>
</html>