<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="base :: metaTags"></div>

    <div th:replace="base :: BootStrapAndMainCSSLinks"></div>
    <title>Add Task</title>
</head>
<body>

<div th:replace="base :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>


<div th:replace="base :: BootStrapScripts"></div>
</body>
</html>